body {
  margin: 0;
  font-family: 'Mina', sans-serif;
}
nav {
  background-color: gray;
  color: white;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
nav a:hover {
  text-decoration: none;
  background-color: gray;
  padding: 10px;
}
nav .nav {
  padding: 10px;
  background-color: gray;
}
nav .active {
  background-color: lightgreen;
  padding: 10px;
}
